<header>
    <div class="container">
        <div class="header--animation">
            <div class="elem1"></div>
            <div class="elem2"></div>
            <div class="elem3"></div>
            <div class="elem4"></div>
            <div class="elem5"></div>
            <div class="elem6"></div>
            <div class="elem7"></div>
            <div class="elem8"></div>
            <div class="elem9"></div>
            <div class="elem10"></div>
            <div class="elem11"></div>
            <div class="elem12"></div>
            <div class="elem13"></div>
            <div class="elem14"></div>
            <div class="elem15"></div>
            <div class="elem16"></div>
            <div class="elem17"></div>
            <div class="elem18"></div>
            <div class="elem19"></div>
            <div class="elem20"></div>
            <div class="elem21"></div>
            <div class="elem22"></div>
            <div class="elem23"></div>
            <div class="elem24"></div>
            <div class="elem25"></div>
            <div class="elem26"></div>
            <div class="elem27"></div>
            <div class="elem28"></div>
            <div class="elem29"></div>
            <div class="elem30"></div>
            <div class="elem31"></div>
            <div class="elem32"></div>
            <div class="elem33"></div>
            <div class="elem34"></div>
            <div class="elem35"></div>
            <div class="elem36"></div>
            <div class="elem37"></div>
            <div class="elem38"></div>
            <div class="elem39"></div>
            <div class="elem40"></div>
            <div class="elem41"></div>
            <div class="elem42"></div>
            <div class="elem43"></div>
            <div class="elem44"></div>
            <div class="elem45"></div>
            <div class="elem46"></div>
            <div class="elem47"></div>
            <div class="elem48"></div>
            <div class="elem49"></div>
            <div class="elem50"></div>
            <div class="elem51"></div>
            <div class="elem52"></div>
            <div class="elem53"></div>
            <div class="elem54"></div>
            <div class="elem55"></div>
            <div class="elem56"></div>
            <div class="elem57"></div>
            <div class="elem58"></div>
            <div class="elem59"></div>
            <div class="elem60"></div>
            <div class="elem61"></div>
            <div class="elem62"></div>
            <div class="elem63"></div>
            <div class="elem64"></div>
            <div class="elem65"></div>
            <div class="elem66"></div>
            <div class="elem67"></div>
            <div class="elem68"></div>
            <div class="elem69"></div>
            <div class="elem70"></div>
            <div class="elem71"></div>
            <div class="elem72"></div>
            <div class="elem73"></div>
            <div class="elem74"></div>
            <div class="elem75"></div>
            <div class="elem76"></div>
            <div class="elem77"></div>
            <div class="elem78"></div>
            <div class="elem79"></div>
            <div class="elem80"></div>
            <div class="elem81"></div>
            <div class="elem82"></div>
            <div class="elem83"></div>
            <div class="elem84"></div>
            <div class="elem85"></div>
            <div class="elem86"></div>
            <div class="elem87"></div>
            <div class="elem88"></div>
            <div class="elem89"></div>
            <div class="elem90"></div>
            <div class="elem91"></div>
            <div class="elem92"></div>
            <div class="elem93"></div>
            <div class="elem94"></div>
            <div class="elem95"></div>
            <div class="elem96"></div>
            <div class="elem97"></div>
            <div class="elem98"></div>
            <div class="elem99"></div>
            <div class="elem100"></div>
            <div class="elem101"></div>
            <div class="elem102"></div>
            <div class="elem103"></div>
            <div class="elem104"></div>
            <div class="elem105"></div>
        </div>
    </div>
</header>